body {
    font-family: sans-serif;
}

html, body, #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App > .Content {
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
