@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

html, body, #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App > .Content {
    height: 100%;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

*:focus:not(.focus-visible) {
    outline: none;
}
