.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centerText {
    text-align: center;
}

.bttn {
    align-self: flex-end;
    padding: 8px 16px;
    outline: none;
    color: #ffffff;
    background-color: #4f6474;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: 0.3s;
    font-size: 24px;
}

.bttn:hover {
    background: #122f3d;
}
